*******************************************************************************************************************
*                                                                                                                 *
* DRILL TAPE SUMMARY REPORT                                                                                       *
*                                                                                                                 *
* M:\DONNEES_ELEVES\2STSA\__PROJETS_BTS 2018\BERGER JORDAN\DOSSIER MODULE 4\_ORCAD\BERGER_VALAR2000_V9_FINAL.MAX  *
* Tue Apr 24 14:06:16 2018                                                                                        *
*                                                                                                                 *
*******************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       5        3        200      100                                                                                 
T2       10       2        200      100                                                                                 
T3       15       141      200      100                                                                                 
T4       20       109      200      100                                                                                 
T5       28       5        200      100                                                                                 
T6       39       8        200      100                                                                                 
T7       60       1        200      100                                                                                 
T8       80       4        200      100                                                                                 
T9       236      4        200      100                                                                                 
